$primary-color: #9C69E2;
$secondary-color: #F063B8;
$tertiary-color: #F6F0FD;
$dark-color: #212353;
$text-color: #4B5D68;
$btn-hover-color: #8A40EE;
$white: #ffffff;
$gray-light: #EAF6FC;
$gray-dark: #4B5D68;
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Work Sans', sans-serif;
$btn-active-bg: $primary-color;
$btn-active-text: $white;
$image-width: 20px;
$image-height: 14px;
$burger-width: 20px;
$burger-height: 3px;
$burger-gap: 6px;
$burger-color: #501eb4;
$hero-header-font: 80px;
$hero-header-font-mobile: 42px;
$hero-desc-font: 18px;
$hero-desc-font-mobile: 16px;
$hero-btn-padding: 16px 52px;
$hero-btn-padding-mobile: 12px 35px;
$hero-text-color: $dark-color;
$hero-desc-color: $text-color;
